/*
Color Palette
#DAD3BE - Light Beige
#B7B597 - Olive Green
#6B8A7A - Teal Green
#254336 - Dark Green
*/

/* Style for the navigation bar */
.navbar {
  background-color: #b7b597; /* Olive Green background */
  box-shadow: 5px 5px 10px #254336; /* Dark Green shadow */
}

/* Style for brand and navigation links within the navbar */
.navbar-brand,
.nav-link {
  color: #6b8a7a; /* Teal Green text color */
}

/* Hover effect for brand and navigation links */
.nav-link:hover,
.navbar-brand:hover {
  color: #254336; /* Dark Green text color on hover */
}

/* Active navigation link style */
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #6b8a7a; /* Teal Green text color */
  background-color: #dad3be; /* Light Beige background */
}

/* Body background color */
body {
  background-color: #dad3be; /* Light Beige background */
}

/* Style for buttons */
.btn {
  background-color: #b7b597; /* Olive Green background */
  color: #6b8a7a; /* Teal Green text color */
  height: 25rem; /* Height of the button */
  width: 25rem; /* Width of the button */
  font-size: 5rem; /* Font size */
  border-radius: 50%; /* Rounded button */
  box-shadow: 10px 10px 20px #254336; /* Dark Green shadow */
  text-shadow: 2px 2px #dad3be; /* Light Beige text shadow */
}

/* Hover effect for buttons */
.btn:hover {
  background-color: #6b8a7a; /* Teal Green background */
  color: #b7b597; /* Olive Green text color */
  box-shadow: 10px 10px 20px #254336; /* Dark Green shadow */
  text-shadow: 2px 2px #dad3be; /* Light Beige text shadow */
}

/* Style for joke text */
.joke {
  color: #6b8a7a; /* Teal Green text color */
}

/* Style for footer */
footer {
  background-color: #b7b597; /* Olive Green background */
  color: #6b8a7a; /* Teal Green text color */
}

/* Mobile Styling */
@media (max-width: 768px) {
  nav ul li:first-child {
    margin-top: 0.5rem; /* Increase the space above the first item on mobile */
  }

  .navbar .navbar-nav .nav-item .nav-link.active {
    padding: 1rem;
  }
}
